{{ nginx_log_path }}/*.log {
    daily
    missingok
    rotate 7
    size 500M
    compress
    notifempty
    create 644 {{ nginx_user }} {{ nginx_group }}
    sharedscripts
    postrotate
        [ -f /run/nginx/nginx.pid ] && kill -USR1 `cat /run/nginx/nginx.pid`
    endscript
}
