[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
RuntimeDirectory=nginx
PIDFile=/run/nginx/nginx.pid
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp={{ nginx_private_tmp }}
User=root
LimitNOFILE={{ nginx_limit_no_file }}

[Install]
WantedBy=multi-user.target
